{# src/Stsbl/EximStatsBundle/Resources/views/Default/index.html.twig #}
{% extends 'IServAdminBundle::page.html.twig' %}

{% block page_title %}
    {{ _('E-Mail server statistics') }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => email-stats.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/email-stats.css', 'stsbl_exim_stats') }}" />
{% endblock %}

{% block page_content_wrapper %}
    <div class="embed-responsive embed-stats">
        <iframe src="{{ path('admin_eximstats_display_index') }}" name="embedded" class="embed-responsive-item"></iframe>
    </div>
{% endblock %}